{% extends '::loginlayout.html.twig' %}

{%block stylesheets %}
    
   {% endblock %} 

   
{% block body %}
    
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <div class="alert alert-success" style="font-size:20px; text-align: center;">
                Your account has been activated
                
            </div>
            
            
        </div>
        
        
        
    </div>
    
{% endblock %}    