<p>Dear {{newFirstname}}<br />
&nbsp; &nbsp;&nbsp;<br />
&nbsp; &nbsp;&nbsp;<br />
Reset your password</p>

<p><br />
Your account details<br />
Email: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span style="color:#0000FF">{{newEmail}}</span><br />
Username:&nbsp;&nbsp; &nbsp;&nbsp;<span style="color:#0000FF">{{newUsername}}</span><br />
&nbsp; &nbsp;&nbsp;<br />
</p>
<a href="{{tokenLink}}">Please click here to reset your password.</a>

<p>If you have any queries or questions&nbsp;please&nbsp;just reply to this email.</p>

<p>Dent1st Referral Help:<br />
020 7424 8886</p>
