.myFont {
    font-family: 'Drug', 'Open Sans', sans-serif;
}
.centerTitle {
    font-size: 4em;
    color: white;
}
.redTitle {
    color: red;
}
.mySignature {
    font-size: 1em;
    color: white;
}
.myTitle {
    text-align: center;
    font-size:2em;
    color: white;
}
.myTitleBlack {
    text-align: center;
    font-size:2em;
    color: black;
}
.myTitleSmallBlack {
    text-align: center;
    font-size:1.5em;
    color: black;
}
.myDescription {
    width: 100%;
    color: black;
}
.arrowRow {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.arrowWrap {
    display: inline-block;
    width: 5em;
    height: 4em;
    border: 1px solid;
    border-color: #f5f5f5;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 0em;
    border-bottom-right-radius: 0em;
}

.whiteBackground {
    background-color: white;
}

.contactBackground {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: white;
    padding-top:15px;
}

.myFooter {
    bottom: 0px;
    width: 100%;
    border-top: 1px solid;
    border-color: black;
    background-color: gray;
    padding:15px 5px 20px 5px;
    text-align: center;
    color: white;
}

.arrowDown {
    font-size:2em;
    color:#f5f5f5;
    position: relative;
    top: 30%;
}
.myPanel {
    font-family: 'Drug';
    font-size:1em;
    display: inline-block;
    width: 10em;
    height: 8em;
    border: 1px solid;
    border-color: white;
    border-radius: 2em;
}
article {
    font-size:1.3em;
    padding-top: 15px;
    color: white;
}
.myIcon {
    font-size: 6em;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}
section {
    height:100vh;
}
