<div id="{{id}}}">
        <div style="min-height:5px;"></div>
        <span class="glyphicon glyphicon-paperclip"></span>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ asset('Files/' ~ dirname ~  '/Outgoings/' ~ directoryId ~ '/' ~ attachment.imageName) }}" target="_blank">{{attachment.imageName}}</a>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="removeattach btn btn-danger btn-xs btn-round" action-data="{{id}}"><span class="glyphicon glyphicon-remove"></span></button></span>
</div>