<div style="background-color: #f1f1f1">
    <span style="font-weight: bold;">-----    Reply all   ------- </span><br />    
    <span style="font-weight: bold;">FROM: </span>{{email}}<br />    
    <span style="font-weight: bold;">SENT: </span>{{date|date('d-m-Y H:i:s')}}<br />    
    <span style="font-weight: bold;">TO: </span>{{toemail}} <br />   
    <span style="font-weight: bold;">SUBJECT: </span>{{subject}}   <br /> 
</div>