
<div class="col-xs-offset-2 col-xs-8">
    <div class="panel panel-success">
        <div class="panel-body">
            <ul>
                <li>
                    <h5 style="font-weight: bold;">Subject:</h5><p>{{message.subject}}</p>
                </li>
                <li>
                    <h5 style="font-weight: bold;">Message:</h5><p>{{message.body}}</p>
                </li>
                <li style="text-align:center;">
                    <button type="button" id="hide{{message.id}}" class="btn btn-danger btn-xs">Hide</button>
                </li>
            </ul>
        </div>
    </div>
</div>
