{% extends "AppBundle:Log:logbase.html.twig" %}
{% block title %}Welcome!{% endblock %}


{% block content %} 





    <!-- Edit leads -->

    
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Edit log details</h3>
                </div>
                <div class="panel-body">
                    {{ form_start(form2) }}
                    {{ form_widget(form2) }}
                    {{ form_end(form2) }}
                </div>
            </div>
        </div>
    





{% endblock %}

