   <div>
       <div><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-envelope"></span>Your new messages:&nbsp;&nbsp;&nbsp;<span style="font-weight: bold;">{{message}}</span></div>
       <div> <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-list"></span>Your unsolved task:&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-weight: bold;">{{unsolved}}</span></div>
    </div>