<div class="col-xs-2">
    <ul>
        <li class="gi-8p">  <a href="{{ path('lead_progresstest', { 'id': thislead.id})}}">{{ thislead.customerName }}</a> </li>
        <li>
            {{ thislead.customerTel }}
        </li>
        <li> {{ thislead.customerEmail }}
        </li>
    </ul>
</div>
